{% extends "base.html" %}
{% set active_page = "view_active_tasks" %}

{% block app_content %}
    <h1 id="title">{{ title }}</h1>

    <div class="row">
        <div class="col s12">
            <h4>Active Tasks</h4>
            {% if tasks %}
                <table class="table highlight">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Task ID</th>
                        <th scope="col">Task Type</th>
                        <th scope="col">Created at</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in tasks %}
                        {% if task %}
                            <tr>
                                <th scope="row">{{ task.id }}</th>
                                <td>{{ task.type }}</td>
                                <td>{{ task.time_start | isoformat }}</td>
                                <td>
                                    <form action="{{ url_for('revoke_task', task_id=task.id) }}" style="margin: 0;">
                                        <button type="submit" class="btn-small red darken-2" style="width: 60%; text-transform: none;">
                                            Stop task<i class="material-icons right">do_disturb_on</i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No active tasks.</p>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h4>Available Reports</h4>
            {% if validations %}
                <table class="table highlight">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Report ID</th>
                        <th scope="col">Report Type</th>
                        <th scope="col">Finished at</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for validation in validations %}
                        {% if validation %}
                            <tr>
                                <th scope="row">{{ validation.uid }}</th>
                                <td>{{ validation.type }}</td>
                                <td>{{ validation.created_at }}</td>
                                <td>
                                    <div class="button-row" style="display: flex; flex-direction: column; gap: 5px; width: 230px;">
                                        <a href="{{ url_for('download_report', validation_id=validation.uid, report_type='html') }}"
                                           id="get-html-{{ validation.uid }}"
                                           class="btn blue darken-2 btn-small" style="width: 100%;">Download HTML report <i class="material-icons right">file_download</i></a>

                                        <a href="{{ url_for('download_report', validation_id=validation.uid, report_type='json') }}"
                                           id="get-json-{{ validation.uid }}"
                                           class="btn blue darken-2 btn-small" style="width: 100%;">Download JSON report <i class="material-icons right">file_download</i></a>

                                        <a href="{{ url_for('download_report', validation_id=validation.uid, report_type='ttl') }}"
                                           id="get-ttl-{{ validation.uid }}"
                                           class="btn blue darken-2 btn-small" style="width: 100%;">Download TTL report <i class="material-icons right">file_download</i></a>

                                        <a href="{{ url_for('download_report', validation_id=validation.uid, report_type='zip') }}"
                                           id="get-zip-{{ validation.uid }}"
                                           class="btn blue darken-2 btn-small" style="width: 100%;">Download all reports <i class="material-icons right">file_download</i></a>

                                        <form method="GET" action="{{ url_for('delete_validation', validation_id=validation.uid) }}" style="margin: 0;">
                                            <button type="submit" class="btn-small red darken-2" style="width: 100%; text-transform: none;">
                                                Delete reports<i class="material-icons right">delete</i>
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No reports available.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}