{% extends "base.html" %}
{% set active_page = "index" %}

{% block app_content %}
    <h1 id="title">{{ validator_name }}</h1>

    <!-- Action buttons -->
    <div class="action-buttons">
        <a href="{{ url_for('validate_shapes_file') }}"
           id="validate-shapes-file"
           class="btn btn-file blue darken-2">Validate Shapes File</a>
        <a href="{{ url_for('validate_sparql_endpoint') }}"
           id="validate-sparql-endpoint"
           class="btn btn-file green darken-1">Validate SPARQL Endpoint</a>
    </div>
{% endblock %}